[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cdsapi = "==0.7.7"
cfgrib = "==0.9.15.1"
clickhouse-driver = "==0.2.10"
eccodes = "==2.46.0"
glob2 = "==0.7.0"
netcdf4 = "==1.7.4"
numpy = "==2.2.6"
pandas = "==2.3.3"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.2.1"
requests = "==2.32.5"
wget = "==3.2.0"
xarray = "==2025.6.1"

[dev-packages]
black = "==26.1.0"
flake8 = "==7.3.0"
isort = "==8.0.1"
mypy = "==1.19.1"
pytest = "==9.0.2"
pytest-cov = "==7.0.0"
bumpver = "==2025.1131"

[requires]
python_version = "3.10"
